aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.6.2.post1
attrs==25.1.0
certifi==2024.8.30
charset-normalizer==3.4.1
click==8.0.0
coverage==7.6.10
distro==1.9.0
docstring_parser==0.16
fastapi==0.115.6
-e git+ssh://git@github.com/adri0/frazer.git@f7c9f64aeda03418508424889750f44be7c1df6f#egg=frazer
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
iniconfig==2.0.0
instructor==1.7.2
Jinja2==3.1.5
jiter==0.7.0
mangum==0.19.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.1.0
openai==1.59.7
packaging==24.2
pluggy==1.5.0
propcache==0.2.1
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.19.1
pytest==8.3.4
pytest-cov==6.0.0
python-dotenv==1.0.1
requests==2.32.3
rich==13.9.4
shellingham==1.5.4
sniffio==1.3.1
starlette==0.41.3
tenacity==9.0.0
tqdm==4.66.6
typer==0.15.1
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.0
yarl==1.18.3
